
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Family, School, Community-Based Connects</title>
  <meta name="description" content="">
  <meta name="author" content="">


<body>
<div class="wrapper">

 <p> Any way the triangle turns will give each child a solid base for success! </p>

  Please click 'Enter' to get started:

  <a href= "signup"> Enter </a>


</div>



</body>
</html>