
 <p><span> <%= @user.first_name %> </span>  what would you like to do? </p>

<div class="container2">
  <div class="student">
    <h1> Add a Student </h1>
    <ul>
      <li>
        <%= link_to "Click here", new_user_student_path(@user) %>
      </li>
    </ul>
  </div>


  <div class="signup">
    <h1> Pick a student to add an infraction to their profile:</h1>

      <% @students.each do |student| %>
        <%= link_to student.first_name, user_student_path(@user, student ) %>
      <% end %>
  </div>
</div>





