body{
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: gray;
}
.nav{
float :right;
}

p {
  font-size: 25px;
  line-height: 1.5;
}

p span{
  font-size: 40px;

}


.container {
  width: 60%;
  margin: 0 auto;
  background-image: url("logo_sfcbc.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50px;
  min-height: 515px;
}

.header {
   width: 50%;
   margin: 0 auto;
   margin-top: 80px;
   margin-bottom: 50px;
}

.header h1 {
  font-size: 60px;
  margin-bottom: 0px;
  color: #C09CC0;
  }


.header h4 {
  margin-top: 5px;
  font-size: 30px;
  }

.login, .student, .add_student_new, .wrapper{
  border: 1px solid black;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
}

.login h1 {
  margin-top: 0px
  }

.signup, .add_infraction {
  margin-top: 50px;
  border: 1px solid black;
  padding: 20px;
  width: 500px;
}
.signup h1 {
  margin-top: 0px
  }

.logo{
  float:right;
  margin-right: 30px;
  margin-top: 50px;

}

.container2 {
  float: left;
  width: 400px;
}

.infraction-table {
  width: 100%;
}

/*ul, li {
  list-style-type: none;
}*/

.resources-info {
  border: 1px solid black;
  padding: 20px;
  width: 795px;
  border-radius: 5px;
}

.resources-info small {
  font-size: 90%;
  text-align: right;
  display: block;
}