<!DOCTYPE html>
<html>
<head>
  <title>FamilySchool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class= "header">
  <h1> Family, School, and the Connectors   </h1>
  <h4> Changing the pipeline to a triangle! </h4>

   <div class="nav"
  <li><a href="/">Go back home</a></li>
</div>
</div>



<div class="container">
  <%= yield %>
</div>

</body>
</html>
